<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P치gina de Inicio</title>
</head>
<body>
    <h1>P치gina de Inicio</h1>
    <button onclick="window.location.href='/pagina1'">Ir a P치gina 1</button>
    <button onclick="window.location.href='/pagina2'">Ir a P치gina 2</button>
</body>
</html>
